button{
    background-color: blue;
    color: black;
    font-size: 15px;
    width: 150px;
    height: 50px;
    margin:5px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.active{
    background-color: green;
}

body{
    background-color: grey;
}